analysis

input_videos/image.png

models/keypoints_model.pth
models/yolo5_last.pt

runs

output_videos/output_video.avi
output_videos/screenshot.jpeg

tracker_stubs
training

live.py

yolo_inference.py

yolov8x.pt